Name: {{.Name}}
Label: {{.Label}}
Category: {{.Category}}
{{- if .Aliases}}
Aliases: {{join .Aliases ", "}}
{{- end}}
Tags: {{join .Tags ", "}}
{{- if .VersionCommand}}
Version Command: {{.VersionCommand}}
{{- end}}
{{- if .Identifiers}}
Identifiers:
{{- range .Identifiers}}
  {{.Type}}: {{.ID}}
{{- end}}
{{- end}}
Links:
  HTML: {{.Links.HTML}}
{{- if .Links.Icon}}
  Icon: {{.Links.Icon}}
{{- end}}
{{- if .Links.ReleasePolicy}}
  Release Policy: {{.Links.ReleasePolicy}}
{{- end}}
Labels:
  EOL: {{.Labels.Eol}}
{{- if .Labels.Eoas}}
  EOAS: {{.Labels.Eoas}}
{{- end}}
{{- if .Labels.Eoes}}
  EOES: {{.Labels.Eoes}}
{{- end}}
{{- if .Labels.Discontinued}}
  Discontinued: {{.Labels.Discontinued}}
{{- end}}
{{- if .Releases}}

Releases ({{len .Releases}}):
{{- range .Releases}}
  {{.Name}} ({{.Label}}) - Released: {{.ReleaseDate}} - EOL: {{if .EolFrom}}{{.EolFrom}}{{else}}unknown{{end}} - LTS: {{.IsLts}} - Maintained: {{.IsMaintained}}
{{- end}}
{{- end}}
